* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.fixed::-webkit-scrollbar {
	display: none; /* Hide scrollbar for WebKit */
}
.footer::-webkit-scrollbar {
	display: none; /* Hide scrollbar for WebKit */
}
